<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sgos_java</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
<!--    < property name=”hibernate.current_session_context_class”>thread  < /property>-->
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="model.Cliente"/>
    <mapping class="model.Componente"/>
    <mapping class="model.Servico"/>
    <mapping class="model.Equipamento"/>
    <mapping class="model.OrdemServico"/>
    <mapping class="model.Usuario"/>
    <mapping class="model.TipoEquipamento"/>
    <mapping class="model.ComponenteOrdemServico"/>
    <mapping class="model.ComponenteOrdemServicoPK"/>
    <mapping class="model.ServicoOrdemServico"/>
    <mapping class="model.ServicoOrdemServicoPK"/>
    <mapping class="model.Grupo"/>
    <mapping class="model.Permissao"/>
    
  </session-factory>
</hibernate-configuration>
